.bem/tmp
node_modules/
doc/uml/*.vpp~*
doc/uml/*.vpp.working
pages/*/*.*
!pages/*/*.bemjson.js
!pages/*/*.md
test/*
!test/blocks
!test/test.html
!test/mocha.js
!test/mocha.css
!test/chai.js
!test/sinon.js
