.calendar
{
    font-size: 12px;

    width: 100%;

    border-collapse: collapse;

    color: #999;
}

.calendar__cell
{
    width: 14.3%;
    height: 130px;

    vertical-align: top;

    border: 1px solid #999;
    cursor: pointer;
}

.calendar__cell-title
{
    padding: 8px;
}

.calendar__cell-inner
{
    position: relative;

    width: 100%;
    height: 100%;
}

.calendar__cell_current_yes
{
    font-weight: bold;

    background: #F4F4F4;
}
