.head
{
    min-width: 570px;
    height: 45px;
    padding-top: 55px;

    background: #f4f4f4;
    box-shadow: 0 2px 8px rgba(160,160,160,.5);
}

.head__toolbar
{
    float: left;

    padding-left: 50px;
}

.head__search
{
    float: right;

    width: 200px;
    padding-right: 64px;
}
