.event
{
    line-height: 18px;

    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;

    overflow: hidden;

    padding: 33px 8px 8px;

    border: solid 1px #64b7f3;
    background: rgba(100,183,243,.2);
}

.event__title
{
    font-weight: bold;

    overflow: hidden;

    margin-bottom: 4px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.event__participants
{
    display: -webkit-box;
    overflow: hidden;

    max-height: 72px;

    text-overflow: -o-ellipsis-lastline;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
