.event
{
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    padding: 33px 8px 8px;

    overflow: hidden;
    line-height: 18px;

    background: rgba(100,183,243,0.2);
    border: solid 1px #64B7F3;
}

.event__title
{
    font-weight: bold;

    margin-bottom: 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event__participants
{
    max-height: 72px;

    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
