.popup
{
    position: absolute;
    top: -10000,
    left: -10000
    z-index: 1;

    padding: 20px;

    border: 1px solid #d9d9d9;
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(217,217,217,.8);
}

.popup__content
{
    display: inline-block;
}

.popup::after
{
    position: absolute;

    display: block;

    width: 14px;
    height: 14px;

    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    background-color: #fff;
}
