.button_theme_shadow
{
    background: #fff;
    border: 1px solid #D2D2D2;
    box-shadow: inset 0 0 3px #D2D2D2;
    border-radius: 3px;
}

.button_theme_shadow.button_pressed_yes
{
    box-shadow: inset 0 0 3px #838383;
}
