.button_theme_blue
{
    padding: 7px 10px;

    color: #f5f7f9;
    border: none;
    border-radius: 3px;
    background: #0067cd;
}

.button_theme_blue.button_pressed_yes
{
    box-shadow: inset 0 2px 5px #1e3e81;
}
