.navigation
{
    padding: 15px 0;
}

.navigation__left,
.navigation__title,
.navigation__right,
.navigation__today
{
    vertical-align: middle;
}


.navigation__left,
.navigation__right,
.navigation__today
{
    height: 17px;
}

.navigation__left,
.navigation__right
{
    position: relative;

    width: 17px;
}

.navigation__left
{
    margin-right: 6px;
}

.navigation__right
{
    margin: 0 6px;
}

.navigation__left:after,
.navigation__right:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 0px;
    height: 0px;
    margin-top: -3px;
    margin-left: -2px;

    content: '';

    border-style: solid;
}

.navigation__left:after
{
    border-width: 3px 3px 3px 0;
    border-color: transparent #000000 transparent transparent;
}

.navigation__right:after
{
    border-width: 3px 0 3px 3px;
    border-color: transparent transparent transparent #000000;
}

.navigation__today
{
    font-size: 9px;
}
